 
 *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none !important;
  list-style-type: none !important;
  text-decoration: none !important;
  outline: none !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


:root {
  --gradient-yellow: #EBDDCA;
  --accent-purple-light:#ff66667a;
  --accent-purple: #990000;
  --dark-blue: #334D6E;
  --fade-purple: #F9F9F9;
  --hover-background: #ededed;
  --text: #5C5F62;
  --small-text: #ABACAE;
  --small-static: #EDEDED;
  --black: #000000;
  --green: #34C988;
  --orange: #FF6F32;
 --yellow: #9e9e00;
  --white:#ffffff;
  --form-border:#E2E2E2;
  --background:#FFFFFF;
  /* --background:linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F5F6F8; 
  --box-shadow: 0 0 4px rgba(0, 0, 0, .05), 0 0 16px rgba(0, 0, 0, .05), 0 0 32px rgba(0, 0, 0, .05), 0 0 64px rgba(0, 0, 0, .05); */
}
 
 html, body {
  /* height: 100% !important; */
  width: 100%;
}

body { 
  background:  var(--background);
  font-family: 'Poppins', sans-serif;
  line-height: 1.3;
  padding-left: 0px !important;
}

img, 
svg {
  /* display: block !important; */
  max-width: 100% !important;
}

input, 
button, 
textarea, 
select {
  font: inherit !important;
  box-sizing: border-box !important;
}
@media (max-width: 1200px) {
input, 
button, 
textarea, 
select {
  font: small !important; 
}
}
 
a {
  text-decoration: none !important;
  outline: none !important;
}
 
 
 
#page-wrapper {
  display: grid !important;
  position: relative;
  height: 100dvh !important;
  grid-template-columns: max-content 1fr !important;
  grid-template-rows: 60px 1fr !important;
  grid-template-areas:
    "sidenav header"
    "sidenav main" 
    "sidenav footer";   
}

main {
  grid-area: main !important;
  padding: 1rem 5rem !important;
  overflow-y: scroll!important; 
}
table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #EDEDED !important;
}
 
 
table th,
table td {
  text-align: left;
  padding: .75rem 1rem;
  font-size: 15px;
}
table th {
  background-color: #EDEDED;
  color:  #64676a;
  font-weight: 500;
  white-space: nowrap !important;
  font-weight: bold;
}
tbody tr {
  border-top: 1px solid #f0f0f0;
}
/* tbody tr td {
  color: #707683 !important;
} */


@media (max-width: 1200px) {
  main {
  grid-area: main !important;
  padding: 2rem 1rem !important;
  overflow-y: scroll!important;
  }
#page-wrapper {
    display: grid !important;
    position: absolute;
    /* height: 100dvh !important; */
    grid-template-columns: max-content 1fr !important;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    width: 100%;

} 
 }  

  
 /* --- Other CSS Files --- */
@import url(./App.css);   
@import url(./css/Header.css);   
@import url(./css/SideNav.css);   
@import url(./css/SideNav.css);   
@import url(./css/Login.css);   
@import url(./css/Setting.css);   
@import url(./css/AdminDashboard.css);   
@import url(./assets/bootstrap.css);   
@import url(./css/Insight.css);   
@import url(./css/Boards.css);   
@import url(./css/Teams.css);   
@import url(./css/Form.css);   
@import url(./css/Modal.css);   
@import url(./css/table.css);   
@import url(./css/Register.css);   
@import url(./css/LandingPage.css);   
@import url(./css/PageNotFound.css);   
@import url(./css/BottomNavigation.css);   
@import url(./css/Spinner.css);   
@import url(./css/Support.css);   

 
.cp-text1 {
    color: hsla(210, 100%, 65%, 0.944);
     text-shadow: 0 1px hsla(0,0%,100%,.1); 
   position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}

  .logo-buttom-padding{
    padding-left: 2px;
    /* width: 140px; */
    height: 20px;
  }

 
@media screen and (max-width: 768px) {
  .cp-text1 {
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
 
  }

  .logo-buttom-padding{
    padding-top: 1rem;
       /* width: 150px; */
    height: 40px;
  }
}
@media screen and (max-width: 400px) {
  .cp-text1 {
   display: none; 
 
  }

  .logo-buttom-padding{
    padding-top: 1rem;
       /* width: 150px; */
    height: 40px;
  }
}

.loading-center-container{
  display: flex;
  justify-content: center;
  align-items: center;
 height: 80vh;
   /* Media query for smaller screens */
  @media (max-width: 600px) {
    height: 60vh; /* Adjust this value for smaller screens */
  }
}